### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [4]:
players= len(purchase_data["SN"].value_counts())
playerCount=pd.DataFrame([players], columns = ["Total Players"])
playerCount

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
items = len(purchase_data["Item Name"].unique())
items

179

In [6]:
avgprice = purchase_data["Price"].mean()
avgprice

3.050987179487176

In [7]:
totalpurchases = len(purchase_data)
totalpurchases

780

In [8]:
totalrev = purchase_data["Price"].sum()
totalrev

2379.77

In [9]:
PurchAnalysisTotal = pd.DataFrame({"Number of Unique Items": [items],
                                           "Average Price": [avgprice],
                                           "Number of Purchases": [totalpurchases],
                                           "Total Revenue": [totalrev]})

In [10]:
PurchAnalysisTotal["Average Price"] = PurchAnalysisTotal["Average Price"].map("${:.2f}".format)
PurchAnalysisTotal["Total Revenue"] = PurchAnalysisTotal["Total Revenue"].map("${:.2f}".format)

PurchAnalysisTotal.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
gendercount = purchase_data.groupby("Gender")["SN"].nunique()
gendercount.head()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [12]:
genderpercent = round((gendercount/players)*100,2)
genderpercent

gender_df = pd.DataFrame({ "Total Count": gendercount, "Percentage of Players": genderpercent
})
gender_df.index = (["Male", "Female", "Other / Non-Disclosed"])
gender_df

                       Total Count  Percentage of Players
Male                            81                  14.06
Female                         484                  84.03
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
gender = purchase_data.groupby(["Gender"])

count = gender["SN"].count()

price = gender["Price"].mean()

value = gender["Price"].sum()

avg_per_person = (gender["Price"].sum() / gendercount)

PurchAnalysisGen = pd.DataFrame({"Purchase Count": count,
                              "Average Purchase Price": price,
                              "Total Purchase Value": value,
                              "Avg Total Purchase per Person": avg_per_person})

PurchAnalysisGen["Average Purchase Price"] = PurchAnalysisGen["Average Purchase Price"].map("${:.2f}".format)
PurchAnalysisGen["Total Purchase Value"] = PurchAnalysisGen["Total Purchase Value"].map("${:.2f}".format)
PurchAnalysisGen["Avg Total Purchase per Person"] = PurchAnalysisGen["Avg Total Purchase per Person"].map("${:.2f}".format)
PurchAnalysisGen = PurchAnalysisGen[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]


PurchAnalysisGen

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [28]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
agedem_df = purchase_data.copy()
agedem_df["Age Demographics"]= pd.cut(purchase_data["Age"], age_bins, labels=group_names)
agecount = agedem_df.groupby("Age Demographics")["SN"].nunique()
agepercent = round((agecount/players)*100,2)


new_columns_df = pd.DataFrame({ "Total Count": agecount, "Percentage of Players": agepercent})
new_columns_df

                  Total Count  Percentage of Players
Age Demographics
<10                        17                   2.95
10-14                      22                   3.82
15-19                     107                  18.58
20-24                     258                  44.79
25-29                      77                  13.37
30-34                      52                   9.03
35-39                      31                   5.38
40+                        12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [52]:
purchasecount_df = agedem_df.groupby("Age Demographics")["Item Name"]
purchasecount_df.count()

purchaseaverage_df = agedem_df.groupby("Age Demographics")["Price"].mean()
purchaseaverage_df.round(2)

purchasevalue_df = agedem_df.groupby("Age Demographics")["Price"].sum()
purchasevalue_df

averagetotal_df = (purchasevalue_df/agecount)
averagetotal_df.round(2)

PurchAnalysisAge = pd.DataFrame({ "Purchase Count": purchasecount_df.count(), 
                                 "Average Purchase Price": purchaseaverage_df.round(2), 
                                 "Total Purchase Value": purchasevalue_df,
                                "Avg Total Purchase per Person": averagetotal_df.round(2) })
PurchAnalysisAge

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Demographics,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [78]:
PlayersPurchCount_df = agedem_df.groupby("SN").count()["Price"].rename("Purchase Count")
PlayersPurchCount_df.sort_values(ascending =False).head()

PlayersAvgPrice_df = agedem_df.groupby("SN").mean()["Price"].rename("Average Purchase Price")
PlayersAvgPrice_df

PlayersTotal_df = agedem_df.groupby("SN").sum()["Price"].rename("Total Purchase Value")

TopSpenders_df = pd.DataFrame({"Purchase Count":PlayersPurchCount_df,
                                   "Average Purchase Price": PlayersAvgPrice_df.round(2),
                                   "Total Purchase Value": PlayersTotal_df})

TopSpenders_df.sort_values(by= 'Purchase Count', ascending =False).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Iral74                    4                    3.40                 13.62
Idastidru52               4                    3.86                 15.45
Asur53                    3                    2.48                  7.44
Inguron55                 3                    3.70                 11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [81]:
ItemsPurchCount = agedem_df.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
ItemsPurchCount.sort_values(ascending =False)

ItemsAvgPrice = agedem_df.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Item Price")

ItemsPurchTotal = agedem_df.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

PopularItems_df = pd.DataFrame({"Purchase Count":ItemsPurchCount,
                                   "Item Price":ItemsAvgPrice,
                                   "Total Purchase Value": ItemsPurchTotal,})

PopularItems_df.sort_values(by= 'Purchase Count', ascending =False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [82]:
PopularItems_df.sort_values(by= 'Total Purchase Value', ascending =False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80